<template>
  <div class="nav relative">
    <button class="fixed p-2 top-0 right-2 bg-blue-400 rounded-sm" @click="nav = !nav">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <transition name="navigation" mode="out-in">
      <ul v-show="!nav" class="fixed flex-col justify-center items-center bg-gray-100 h-screen w-full" :class="[!nav ? 'flex': 'hidden']">
        <button class="absolute top-0 right-0 p-4" @click="nav = true">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
        </button>
        <nuxt-link class="nav-link" to="/" @click.native="showNav">Home</nuxt-link>
        <nuxt-link class="nav-link" to="/blog" @click.native="showNav">Blog</nuxt-link>
        <nuxt-link class="nav-link" to="/about" @click.native="showNav">About</nuxt-link>
      </ul>
    </transition>
  </div>
</template>

<script>
export default {
  transition: 'navigation',
  data() {
    return {
      nav: true,
    }
  },
  methods: {
    showNav() {
      this.nav = !this.nav;
    }
  }
}
</script>

<style>
.navigation-enter-active, .navigation-leave-active {
  transition: opacity .4s;
}

.navigation-enter, .navigation-leave-active {
  opacity: 0;
}
</style>