@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700;&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-quicksand;
}

body {
  @apply box-border p-0 m-0 bg-gray-200;
}

.main-container {
  @apply container mx-auto py-16 px-2;
}

.nav-link {
  @apply flex items-center justify-center font-semibold text-sm w-1/2 md:text-xl hover:bg-sky-400 hover:text-white uppercase my-2 transition-all h-12;
}

::selection {
  @apply bg-blue-400;
}

.my-page-enter-active,
.my-page-leave-active {
  transition: opacity 0.5s;
}
.my-page-enter,
.my-page-leave-to {
  opacity: 0;
}