<template>
  <div class="max-w-sm bg-white rounded-md p-3 shadow-sm">
    <img class="rounded-md" :src="imgUrl" :alt="title">
    <div class="block">
      <h2 class="pt-2 font-semibold">{{ title }}</h2>
      <span class="text-xs">{{ formatDate(createdPost) }}</span>
    </div>
    <div class="flex justify-between pt-3">
      <span class="text-xs">{{ author }}</span>
      <nuxt-link class="text-xs text-blue-500 font-semibold hover:scale-105 transition-all ease" :to="`/blog/${id}`">Read more</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    imgUrl: {
      type: String,
      required: true,
    },
    author: {
      type: String,
      required: true,
    },
    createdPost: {
      type: String,
      required: true,
    },
  },
  methods: {
    formatDate(createdDate) {
      const date = new Date(createdDate).toLocaleString('id', 'Asia/Jakarta');
      return date;
    }
  }
}
</script>