<template>
  <main class="mt-12">
    <div class="container mx-auto max-w-4xl">
      <nuxt-link class="bg-gray-300 hover:bg-gray-100 capitalize font-semibold px-3 py-2 transition-colors ease" to="/blog">Previous page</nuxt-link>
    </div>
    <div class="container mx-auto max-w-4xl px-2 mt-4 py-6 bg-white">
      <div class="bg-blue-200 container mx-auto max-w-sm rounded-sm p-3 shadow-sm">
        <img class="rounded-sm" :src="blog.imgUrl" :alt="blog.title">
      </div>
      <h2 class="font-bold text-xl md:text-2xl text-center mt-4">{{ blog.title }}</h2>
      <p class="text-justify mt-3 text-sm md:text-base">{{ blog.content }}</p>
    </div>
  </main>
</template>

<script>
export default {
  async asyncData({ $supabase, route }) {
    const id = route.params.id;
    const response = await $supabase.from('blog').select('*').eq('id', id);
    return {
      blog: response.data[0]
    }
  },
}
</script>