<template>
  <main class="main-container">
    <h1 class="text-center text-xl font-semibold capitalize">Blog section</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      <blog-items 
        v-for="blog in blogs"
        :id="blog.id"
        :key="blog.id"
        :title="blog.title"
        :img-url="blog.imgUrl"
        :author="blog.author"
        :created-post="blog.created_at">
      </blog-items>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      blogs: null,
    }
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      const response = await this.$supabase.from('blog').select('*');
      this.blogs = response.data;
    }
  },
}
</script>

