<template>
  <main class="main-container">
    <h1 class="font-bold text-2xl md:text-4xl text-center">Welcome to Nuxt Blog</h1>
    <p class="text-center text-sm md:text-lg py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, amet!</p>
  </main>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
